<div class="container-fluid">
    <div class="row">
<center>
            <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
                <div class="question start">

                    <div class="heading mytext1">INSTRUCTIONS
                        <hr style="margin-top: 0px;
                                                        border:1.5px solid #dafcff;
                                                        -webkit-box-shadow:0px 0px 289px 104px rgba(0,131,177.0.77);
                                                        -moz-box-shadow:0px 0px 289px 104px rgba(0,131,177.0.77);
                                                        box-shadow: 0px 0px 289px 104px rgba(0,131,177.0.77);
                                                    ">
                    </div>

                    <p>1. It is an individual event.<br><br>
2. Event is open to all college/institute students.<br><br>
3. The answers of all the levels would be in lower cases and should not include any spacing.<br><br>
4. Special characters are allowed.<br><br>
5. There is no restriction on the number of attempts for any level.<br><br>
6. Google search is allowed.<br><br>
7. Look for hints on the web page, url or page source.<br><br>
Hints will also be provided at our facebook page  https://www.facebook.com/Arcane-The-Online-Cryptic-Hunt-275186646307480/ <br><br>
8. Anyone found practicing harmful activities or violating rules would be straight away disqualified.<br><br>
9. If you have not liked our fb innerve page and have not registered on innerve-igdtuw.in your entry would be disqualified.<br><br>


                    

                    </p>

                </div>
            </div>

</center>

    </div>
</div>
