<header class="header">

            <div data-velocity="-.4" id="particles" class="header-bg"></div>


            <div class="site-title-table">
                <div class="site-title-tablecell start">

                    <div class="slide-text mytext1 ">


                        <h3><span>I</span>NNERVE - <span> I</span>GDTUW</a></h3>
                        <h3><span>P</span>RESENTS</a></h3>
                        <br>
                        <h2><span>A</span>RCANE<span>2</span>K18</a></h2>
                        <p style="color: #E91E63"> An Online Cryptic Hunt</p>
                    </div>
                    <a href="/instruction"><p> ~Enter the hunt~</p></a>
                    <div class="social-links">
                        <a class="btn social-link" href="https://www.facebook.com/igdtuwinnerve"><i class="fa fa-facebook"></i> <div class="ripple-wrapper"></div></a>
                        <a class="btn social-link" href="https://twitter.com/innerveigdtuw"><i class="fa fa-twitter"></i> <div class="ripple-wrapper"></div></a>
                        <a class="btn social-link" href="https://www.instagram.com/innerveigdtuw/"><i class="fa fa-instagram"></i> <div class="ripple-wrapper"></div></a>

                    </div>
                </div>

            </div>
        </header>
